@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-float {
  animation: float 8s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}
